@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our page!</h1>
   
    <p> <img src="https://i.pinimg.com/originals/2d/73/dd/2d73dd52219cd2acd476251463446710.gif" alt="Alternate Text" /></p>

    <h3>Welcome to our page. Check out our <a href="@Url.Action("Index","Dishes")">menu</a></h3>
</div>
