@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our page!</h1>
   
    <p> <img src="https://s.tmimgcdn.com/scr/1200x627/290400/food-and-restaurant-facebook-cover-banner-design-036_290452-original.jpg" alt="Alternate Text" /></p>

    <h3>Welcome to our page. Check out our <a href="@Url.Action("Index","Dishes")">menu</a></h3>
</div>
