@{
    ViewData["Title"] = "Contact";
}

<div class="TitleContainer">
<h1>@ViewData["Title"]</h1>
</div>
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout for your site
}

<div class="ContactContainer">
    <address>
        BigFood<br />
        Email: <a href="mailto:privacy@bigfood.com">privacy@bigfood.com</a><br />
        Phone: (123) 456-7890<br />
        Address: 123 Culinary Avenue, Flavor Town, FL 12345
    </address>
</div>

<div class="HoursContainer">
    <h1>Opening Hours</h1>
    <h3> monday 16:00 / 22:00 </h3> <br />
    <h3> tuesday 16:00 / 22:00</h3> <br />
    <h3>wednesday 16:00 / 22:00</h3> <br />
    <h3>thursday 16:00 / 22:00</h3> <br />
    <h3> friday 16:00 / 23:00</h3> <br />
    <h3>saturday 16:00 / 00:00</h3> <br />
    <h3>sunday 16:00 / 20:00</h3> <br />
    
    <div class="LocationContainer">

        Our restaurant is in the beatiful place called Epe!
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d268.45325833547395!2d5.984556547795619!3d52.36365742052818!2m3!1f310.32328226038356!2f44.99964571268631!3f0!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x47c7c52497cc142f%3A0x4b0e7716fe9698f5!2sDellendwarsweg%201%2C%208162%20EJ%20Epe!5e1!3m2!1sen!2snl!4v1719509283076!5m2!1sen!2snl" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>






</div>
<style> 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
        background-color: #dee9d3
    }

.ContactContainer, .HoursContainer  {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ContactContainer address {
    font-style: normal;
    line-height: 1.6;
}

.ContactContainer a {
    color: #333;
    text-decoration: none;
}

.ContactContainer a:hover {
    text-decoration: underline;
}

.HoursContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.HoursContainer h3 {
    font-size: 18px;
    margin: 5px 0;
    color: #555;
}

.HoursContainer h3::before {
    content: "• ";
    color: #f39c12;

    .ContactContainer, .HoursContainer {
        padding: 10px;
    }

    .HoursContainer h3 {
        font-size: 16px;
    }
    .TitleContainer {
        text-align: center; 

    }

</style>
